.homeNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    min-height: 100vh;
    padding: 2rem 0 5rem;

    .navigationItem {
        flex: 1;
        width: 60vmin;
        height: 60vmin;
        min-width: 60vmin;
        min-height: 60vmin;
        margin: 20px;
        padding: .85rem;
        text-align: right;
        font-size: 2.05rem;
        word-wrap: break-word;
        background-color: $gray-shade;
        background-image: repeating-linear-gradient(-45deg, $gray-shade, $gray-shade 1px, transparent 2px, transparent 4px);
        color: $dark-night;
        transition: all 0.2s ease-out;
        border: 1px solid $gray-shade; 
        text-decoration: none;

        &:hover {
            background-color: $dark-night-overlay;
            background-image: repeating-linear-gradient(-45deg, transparent, transparent 1px, $gray-shade-overlay 2px, $gray-shade-overlay 4px);
            color: $gray-shade;
        }

        &:focus {
            outline: 2px dashed $gray-shade;
        }
    }
}