@import url('https://fonts.googleapis.com/css?family=Belgrano|Source+Sans+Pro');

* {
    box-sizing: border-box;
}

body {
    color: $gray-shade;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.font-title {
    font-family: 'Belgrano', serif;
    text-transform: uppercase;
}

.svg-wrapper {
    svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}